.cabecalho {
    position: absolute;
    width: 100%;
    background-color: var(--cor-terciaria);
    font-family: var(--font-terciaria);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.cabecalho__logo {
   width: 150px;
   margin-left: .7rem;
}
.social-links {
    display: none;
}
.navegacao {

    margin-bottom: .6rem;
}

.nav__links {
    display: flex;
    font-size: var(--tamanho-texto);
    padding-top: .5rem;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
} 

