

.filosofos__titulo-secao {
    font-size: var(--tamanho-subtitulo);
    margin-bottom: 1rem;
}

.filosofos__titulo{
    font-size: var(--tamanho-titulo);
    font-weight: 700;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 4rem;
}


.card__filosofos {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(250, 225, 255, 0.041);
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    border-radius: 15px;
    
}

.filosofos__resumos-texto {
    font-size: var(--tamanho-texto);
    line-height: normal;
    margin-bottom: 1rem;
}

.filosofos__texto {
    font-size: var(--tamanho-texto);
    line-height: normal;
    text-align: center;
    margin-top: 1rem;
}

.filosofos__img {
    width: 80%;
   border-radius: 15px;
}

.btn-filosofos {
    cursor: pointer;
    margin-top: 3rem;
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
  .btn-filosofos {
    background: rgb(0,140,255);
    box-shadow: 0 0 15px rgb(0,140,255);
  }
  
  .btn-filosofos:hover {
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
  }