
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    
}


/* DESKTOP? TALVEZ?
 */

/* .principal {
    text-align: center;
    width: 940px;
    margin: 0 auto;
}

.principal {
    margin-top: 5rem;
}

.principal__titulo {
    margin-bottom: 1rem;
    font-size: 2rem;
}


.frase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.frase__titulo {
    font-size: 1.3rem;
    text-transform: capitalize;
    margin-bottom: .5rem;
}

.quote-container {
    text-align: center;
    margin-top: 3rem;
    width: 350px;
    background-color: aqua;
    padding: 2rem;
} */


.container {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* .principal__titulo {

} */