@import url('https://fonts.googleapis.com/css2?family=Mali&family=Quicksand:wght@300;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(90deg, rgb(44, 0, 33)28%, rgb(28, 8, 32) 100%);
    color: #dee2e6;

    
}


/* DESKTOP? TALVEZ?
 */

/* .principal {
    text-align: center;
    width: 940px;
    margin: 0 auto;
}

.principal {
    margin-top: 5rem;
}

.principal__titulo {
    margin-bottom: 1rem;
    font-size: 2rem;
}


.frase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.frase__titulo {
    font-size: 1.3rem;
    text-transform: capitalize;
    margin-bottom: .5rem;
}

.quote-container {
    text-align: center;
    margin-top: 3rem;
    width: 350px;
    background-color: aqua;
    padding: 2rem;
} */


.container {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.principal__titulo {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.frase__titulo {
    margin-bottom: .5rem;
}

em {
    color: #ff00d4;
}

button {
    color: #ca63b9;
    border:1px solid #ff00d4;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    padding: .6rem .5rem;
    border-radius: 8px;
    background: linear-gradient(120deg, rgba(255, 0, 119, 0.103)28%, rgba(25, 0, 123, 0.185) 100%);
    transition: .7s ease-in-out;
}

button:hover {
    background-color: #110010;
    transform: scale(1.1);
}


.quote-container {
    background-color: #7c00672a;
    padding: 1rem;
    border-radius: 10px;
    
}

span {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

#authorOutput{
    margin-top: 1rem;
}

small {
    color: #c27dff;
    box-sizing: border-box;
    border-left: 4px solid #f72585;
    padding-left: 2px;
    font-weight: 700;
    
}
.principios__titulo{
    font-size: 1.2rem;
    background-color: #f725841a;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

ul {
    list-style-type: decimal-leading-zero;
    width: 80%;
    /* text-align: center; */
    margin-left: 1.6rem;
}
li::first-letter{
    text-transform: capitalize;
}

li {
    font-size: 1rem;
    background-color: #f7258409;
    padding: .8rem;
    border-radius: 10px;
    margin-bottom: .4rem;
    /* margin-top: .2rem; */
}

.rodape {
    opacity: 43%;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

@media screen and (min-width:1024px){
    .container {
        width: 940px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .principal__titulo {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }
    
    .frase__titulo {
        margin-top: 3rem;
        margin-bottom: .5rem;
    }

    .principal {
        margin-top: 3rem;
    }

    button {
        color: #ca63b9;
        border:1px solid #ff00d4;
        cursor: pointer;
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        margin-bottom: 3rem;
        padding: .6rem .5rem;
        border-radius: 8px;
        background: linear-gradient(120deg, rgba(255, 0, 119, 0.103)28%, rgba(25, 0, 123, 0.185) 100%);
        transition: .7s ease-in-out;
    }
    
    button:hover {
        background-color: #110010;
        transform: scale(1.1);
    }

    .rodape {
        opacity: 43%;
        margin-top: 5rem;
        margin-bottom: 3rem;
    }
    
}